{:deps {com.fulcrologic/fulcro {:mvn/version "3.5.13"}}

 :aliases {:dev {:extra-deps {org.clojure/clojurescript {:mvn/version "1.11.4"}
                              thheller/shadow-cljs {:mvn/version "2.16.12"}
                              binaryage/devtools {:mvn/version "1.0.4"}}}}
}
